{% extends "base.html" %}

{% block content %}
  <h2>{{ view_date}} {% if is_today %}(today){% endif %}</h2>

  <form method="post">
    {% csrf_token %}
    <table>
      {% for field in form %}
          <tr>
            <td>{{ field }}</td>
            <td>
                <details>
                    <summary>{{ field.label }}</summary>
                    <textarea name="note_{{ field.name }}" rows="4" cols="50">{{ field.note }}</textarea>
                </details></td>
         </tr>
      {% endfor %}
    </table>
    <button type="submit">Save</button>
  </form>

  <p>{{ completion_percent }}% of habits completed today</p>

  <style>
    .completed {
      background-color: lightgreen;
    }
    .incomplete {
      color: red;
      background-color: lightpink;
    }
    .na {
      color: grey;
      background-color: lightgrey;
    }
  </style>

  <script>
    function updateSelectStyles(select) {
      select.classList.remove('completed', 'incomplete', 'na');

      if (select.value === 'COMPLETE') {
        select.classList.add('completed');
      } else if (select.value === 'N/A') {
        select.classList.add('na');
      } else if (select.value === 'INCOMPLETE') {
        select.classList.add('incomplete');
      }
    }

    document.querySelectorAll('select').forEach((select) => {
      updateSelectStyles(select);

      select.addEventListener('change', () => updateSelectStyles(select));
    });
  </script>
{% endblock %}
