{% extends "base.html" %}

{% block content %}
  <h1>Habit List</h1>

  <h2>Active Habits</h2>
  <ul>
    {% for habit in habits %}
        {% if habit.is_active %}
            <li><a href="{% url 'habit_tracker:habit_edit' habit.id %}">{{ habit.name }}</a> ({{ habit.completion_percentage }}%)</li>
        {% endif %}
    {% endfor %}
  </ul>

  <h2>Inactive Habits</h2>
  <ul>
    {% for habit in habits %}
        {% if not habit.is_active %}
            <li><a href="{% url 'habit_tracker:habit_edit' habit.id %}">{{ habit.name }}</a> ({{ habit.completion_percentage }}%)</li>
        {% endif %}
    {% endfor %}
  </ul>

  <a href="{% url 'habit_tracker:habit_create' %}">Create New Habit</a>
{% endblock %}
